<div class="item">
    <mat-icon>date_range</mat-icon>
    <div class="label">Fecha:</div>
    <div class="data">{{ data?.date }}</div>
</div>
<div class="item">
    <mat-icon>attach_money</mat-icon>
    <div class="label">Venta:</div>
    <div class="data">{{ data?.totalAmount }}</div>
</div>
<div class="item">
    <mat-icon>receipt</mat-icon>
    <div class="label">Ordenes:</div>
    <div class="data">{{ data?.totalOrders }}</div>
</div>
<div class="item">
    <mat-icon>info</mat-icon>
    <div class="label">Estatus:</div>
    <div class="data">{{ data?.isActive }}</div>
</div>